<mat-sidenav-container class="min-h-[89vh]">
  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <mat-nav-list class="text-center">
      <button
        mat-list-item
        (click)="onMenuClick('perfil', drawer)"
        [class.activo]="contenidoActual === 'perfil'"
      >
        Perfil
      </button>
      <button
        mat-list-item
        (click)="onMenuClick('avatar', drawer)"
        [class.activo]="contenidoActual === 'avatar'"
      >
        Cambiar avatar
      </button>
      <button
        mat-list-item
        (click)="onMenuClick('seguridad', drawer)"
        [class.activo]="contenidoActual === 'seguridad'"
      >
        Seguridad y Privacidad
      </button>
      <button
        mat-list-item
        (click)="onMenuClick('contacto', drawer)"
        [class.activo]="contenidoActual === 'contacto'"
      >
        Centro de ayuda
      </button>
      <button
        mat-list-item
        (click)="onMenuClick('cerrarCuenta', drawer)"
        [class.activo]="contenidoActual === 'cerrarCuenta'"
      >
        Cerrar Cuenta
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <!--Arreglar el padding de los menus qute tienen diferentes caa uno-->
  <mat-sidenav-content class="p-5">
    <!-- Botón para abrir menú en móvil -->
    @if (isMobile) {
    <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle menu">
      <mat-icon>menu</mat-icon>
    </button>
    } @if (contenidoActual === 'perfil') {
    <perfil-form></perfil-form>
    } @else if (contenidoActual === 'avatar') {
    <change-avatar-component></change-avatar-component>
    } @else if (contenidoActual === 'seguridad') {
    <security-and-privacy></security-and-privacy>
    } @else if (contenidoActual === 'contacto') {
    <help-center></help-center>
    } @else if (contenidoActual === 'cerrarCuenta') {
    <close-account></close-account>
    } @else {
    <p>Selecciona una opción del menú</p>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
