<mat-sidenav-container class="min-h-[89vh] bg-white!">
  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <mat-nav-list class="text-center">
      <button
        mat-list-item
        (click)="onMenuClick('Perfil', drawer)"
        [class.activo]="contenidoActual === 'perfil'"
      >
        <span class="flex items-center justify-center gap-2 w-full">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </span>
      </button>
      <button
        mat-list-item
        (click)="onMenuClick('Avatar', drawer)"
        [class.activo]="contenidoActual === 'avatar'"
      >
        <span class="flex items-center justify-center gap-2 w-full">
          <mat-icon>face</mat-icon>
          <span>Cambiar avatar</span>
        </span>
      </button>
      <button
        mat-list-item
        (click)="onMenuClick('Seguridad', drawer)"
        [class.activo]="contenidoActual === 'seguridad'"
      >
        <span class="flex items-center justify-center gap-2 w-full">
          <mat-icon>security</mat-icon>
          <span>Seguridad y Privacidad</span>
        </span>
      </button>
      <button
        mat-list-item
        (click)="onMenuClick('Contacto', drawer)"
        [class.activo]="contenidoActual === 'contacto'"
      >
        <span class="flex items-center justify-center gap-2 w-full">
          <mat-icon>help</mat-icon>
          <span>Centro de ayuda</span>
        </span>
      </button>
      <button
        mat-list-item
        (click)="onMenuClick('Cerrar_cuenta', drawer)"
        [class.activo]="contenidoActual === 'cerrarCuenta'"
      >
        <span class="flex items-center justify-center gap-2 w-full">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Cuenta</span>
        </span>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <!--Arreglar el padding de los menus qute tienen diferentes caa uno-->
  <mat-sidenav-content class="p-5">
    <!-- Botón para abrir menú en móvil -->
    @if (isMobile) {

    <mat-tab-group
      [(selectedIndex)]="selectedTabIndex"
      (selectedIndexChange)="onTabChange($event)"
    >
      <mat-tab label="Perfil"></mat-tab>
      <mat-tab label="Avatar"></mat-tab>
      <mat-tab label="Seguridad"></mat-tab>
      <mat-tab label="Contacto"></mat-tab>
      <mat-tab label="Cerrar_cuenta"></mat-tab>
    </mat-tab-group>

    } @if (contenidoActual === 'Perfil') {
    <div class="mt-5">
      <perfil-form></perfil-form>
    </div>
    } @else if (contenidoActual === 'Avatar') {
    <div class="mt-5">
      <change-avatar-component></change-avatar-component>
    </div>
    } @else if (contenidoActual === 'Seguridad') {
    <div class="mt-5">
      <security-and-privacy></security-and-privacy>
    </div>
    } @else if (contenidoActual === 'Contacto') {
    <div class="mt-5">
      <help-center></help-center>
    </div>
    } @else if (contenidoActual === 'Cerrar_cuenta') {
    <div class="mt-5">
      <close-account></close-account>
    </div>
    } @else {
    <p>Selecciona una opción del menú</p>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
