<div class="container mx-auto flex justify-center items-center min-h-[89vh]">
  <div
    class="bg-white p-6 rounded-lg shadow-lg my-4 border-1 border-black w-150 h-auto m-2"
  >
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">
      Iniciar Sesión
    </h2>

    <form action="#" (ngSubmit)="onSubmit()" [formGroup]="myForm">
      <!-- Campo de correo electrónico -->
      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-medium"
          >Correo Electrónico</label
        >
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="form-control w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
          required
        />
        @if ( formUtils.isValidField(myForm, 'email')) {
        <span class="form-text text-red-500">
          {{ formUtils.getFieldError(myForm, "email") }}
        </span>
        }
      </div>

      <!-- Campo de contraseña -->
      <div class="mb-6">
        <label for="password" class="block text-gray-700 font-medium"
          >Contraseña</label
        >
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          class="form-control w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
          required
        />
        @if ( formUtils.isValidField(myForm, 'password')) {
        <span class="form-text text-red-500">
          {{ formUtils.getFieldError(myForm, "password") }}
        </span>
        } @if (myForm.errors) {
        <div class="text-red-500">Email o contraseña incorrectos.</div>
        }
      </div>

      <!-- Botón de login -->
      <div class="mb-6">
        <button
          type="submit"
          class="w-full py-2 cursor-pointer bg-purple-500 text-white rounded-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-300"
        >
          Iniciar Sesión
        </button>
      </div>
    </form>

    <!-- Enlace a la página de registro -->
    <div class="flex items-center flex-col">
      <p class="text-center text-gray-600">¿No tienes una cuenta?</p>

      <a href="#" class="text-pink-600 hover:text-pink-700 font-semibold"
        >Registrarse</a
      >
    </div>
  </div>
</div>
