@for ( product of this.productsService.productsCart(); track product.id) {
<div
  class="flex flex-col lg:flex-row items-start gap-4 p-2 border border-gray-400 rounded mb-1"
>
  <!-- Imagen -->
  <div class="w-full lg:w-22 h-40 lg:h-20 flex-shrink-0">
    <img
      src="{{ product.image }}"
      alt="{{ product.name }}"
      class="w-full h-full rounded object-contain lg:object-cover"
    />
  </div>

  <!-- Detalles -->
  <div class="flex flex-col flex-grow w-full">
    <div
      class="flex flex-col lg:flex-row items-start lg:items-center justify-between gap-2"
    >
      <!-- Título -->
      <a (click)="goToProduct(product.id!)" class="w-full lg:w-auto mb-4">
        <!-- Precio -->
        <div
          class="mx-auto font-bold text-2xl block lg:hidden text-pink-700 text-center"
        >
          ${{ product.price }}
        </div>
        <div
          class="text-base lg:text-lg text-center cursor-pointer font-medium truncate w-full text-black hover:text-pink-700"
          title="{{ product.name }}"
        >
          {{ product.name }}
        </div>
      </a>

      <!-- Icono eliminar y controles -->
      <div
        class="flex gap-4 lg:justify-center justify-between lg:items-center w-full lg:w-auto p-1 lg:p-0"
      >
        <div class="relative group lg:flex justify-center items-center">
          <button
            (click)="this.productsService.removeCartItem(product.id!)"
            type="button"
            class="text-gray-700 hover:text-red-500 rounded w-8 lg:w-6 lg:h-8 cursor-pointer"
            aria-label="Tooltip"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-full h-full"
              viewBox="0 0 24 24"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 7h16m-10 4v6m4-6v6M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-12M9 7V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3"
              />
            </svg>
          </button>
          <span
            class="absolute left-1/2 top-full mt-2 -translate-x-1/2 opacity-0 invisible transition-opacity duration-200 group-hover:opacity-100 group-hover:visible"
            role="tooltip"
          >
            <span
              class="tooltip-body bg-gray-800 text-white textarea-xs p-2 rounded shadow whitespace-nowrap overflow-visible"
            >
              Eliminar articulo
            </span>
          </span>
        </div>

        <div class="flex justify-center items-center gap-2">
          <button
            class="btn lg:w-6 lg:h-8 text-base "
            [disabled]="product.quantity === 1"
            [class]="
              product.quantity === 1
                ? 'bg-gray-200 text-black cursor-not-allowed'
                : 'bg-pink-700 hover:bg-pink-800'
            "
            (click)="decrease(product.id!)"
          >
            -
          </button>

          <input
            class="w-12 h-10 lg:w-10 lg:h-8 text-center text-base border border-gray-300 rounded"
            type="text"
            [value]="product.quantity"
            readonly
          />

          <button
            class="btn lg:w-6 lg:h-8 text-base bg-pink-700 hover:bg-pink-800 text-white"
            (click)="increase(product.id!)"
          >
            +
          </button>
        </div>
      </div>
    </div>

    <!-- Precio -->
    <div class="mt-2 lg:mt-1 hidden lg:block font-bold text-base text-pink-700">
      ${{ product.price }}
    </div>

    <!-- Unidades -->
    <div class="text-lg hidden lg:block text-gray-600 mt-1">
      Unidades:
      <span class="font-semibold text-purple-950">{{ product.quantity }}</span>
    </div>
  </div>
</div>

}
