@if (!products.products || products.products.length === 0 ) {
<!-- We check the error first -->
<div class="card card-side w-full z-10 h-15 border border-black bg-pink-200">
  <div class="card-body flex justify-center items-center">
    <span class="text-pink-600 text-sm sm:text-lg font-bold">
      No se han encontrado resultados
    </span>
  </div>
</div>

} @for (product of products.products?.slice(0,5); track idx; let idx = $index) {
<a
  (click)="goToProduct(product.id!); $event.stopPropagation()"
  class="cursor-pointer"
>
  <div
    class="card card-side flex flex-col sm:flex-row w-full max-w-full z-10 h-auto sm:h-20 border border-black hover:bg-gray-300"
  >
    <div class="sm:w-[100px] w-full h-15 flex justify-center items-center">
      @if (product.images) {
      <img
        class="max-w-full max-h-full object-contain"
        src="{{ product.images[0] }}"
        alt="{{ product.title }}"
      />
      }
    </div>
    <div class="card-body overflow-hidden flex items-center p-2 sm:p-4">
      <!-- Añadido flex y items-center -->
      <div
        class="card-title mb-0.5 whitespace-nowrap overflow-hidden text-ellipsis text-sm sm:text-lg"
        title=" {{ product.title }}"
      >
        {{ product.title }}
      </div>
    </div>
  </div>
</a>

} @if (products.products && products.products.length >= 5 ) {
<!-- We check that it has a value greater than 5 -->
<button
  (click)="goToSearchProducts()"
  class="cursor-pointer py-3 bg-purple-400 hover:bg-purple-600 w-full font-bold text-white border border-black"
>
  Mostrar más
</button>
}
