<a (click)="goToProduct(urlProduct)" class="cursor-pointer">
  <div
    class="card hover:bg-gray-300 bg-base-100 w-96 shadow-sm border border-solid my-1"
  >
    <figure>
      <img
        class="w-50 h-50 object-contain"
        src="{{ img }}?width=100&height=100"
        [srcset]="img + ' 1x, ' + img + ' 2x'"
        alt="Shoes"
      />
    </figure>
    <div class="card-body">
      <h2
        class="card-title text-center font-bold text-ellipsis overflow-hidden whitespace-nowrap block"
        title="{{ title }}"
      >
        {{ title }}
      </h2>
      <div class="flex items-center mt-2.5 mb-5">
        <span class="flex" [innerHTML]="getRatingStars(rating)"></span>
        <span
          class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded-sm dark:bg-purple-200 dark:text-purple-800 ms-3"
          >{{ rating }}</span
        >
      </div>
      <div class="flex items-center justify-between">
        <span class="text-3xl font-bold text-pink-800">{{ price }} $</span>
        <a
          (click)="$event.stopPropagation()"
          class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-purple-500 hover:bg-fuchsia-400"
          >Add to cart</a
        >
      </div>
    </div>
  </div>
</a>
