@if(urlProduct && rating && img){
<a (click)="goToProduct(urlProduct)" class="cursor-pointer block w-fit">
  <div
    class="card hover:bg-gray-300 bg-base-100 w-[21.5rem] lg:w-[24rem] shadow-sm border border-solid my-1"
  >
    <figure>
      <img
        class="w-50 h-50 object-contain transition-transform duration-500 ease-in-out transform hover:scale-110"
        src="{{ img[0] }}?width=100&height=100"
        [srcset]="img[0] + ' 1x, ' + img[0] + ' 2x'"
        alt="{{ alt_img }}"
      />
    </figure>
    <div class="card-body">
      <h2
        class="card-title text-center font-bold text-ellipsis overflow-hidden whitespace-nowrap block"
        title="{{ title }}"
      >
        {{ title }}
      </h2>

      <div class="flex items-center justify-between mt-4">
        <!-- Rating -->
        <div class="flex items-center gap-2">
          <span
            class="flex"
            [innerHTML]="utilsString.getRatingStars(rating)"
          ></span>
          <span
            class="bg-purple-100 text-purple-800 textarea-md font-semibold px-2 py-0.5 rounded"
          >
            {{ rating }}
          </span>
        </div>

        <!-- Precio -->
        <span class="text-xl lg:text-2xl font-bold text-pink-700">
          {{ price }} $
        </span>
      </div>
    </div>
  </div>
</a>
}
