<div class="min-h-[90vh] container mx-auto">
  @if(categorie){
  <app-section-title>
    {{ getTitleCategory() }}
  </app-section-title>
  }
  <div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 justify-items-center gap-x-4"
  >
    @for(product of products; track product.id){
    <product-card
      [urlProduct]="product.id"
      [title]="product.title"
      [img]="product.images"
      [alt_img]="product.title"
      [rating]="product.rating"
      [price]="product.price"
    />
    }
  </div>
</div>
