<nav
  class="navbar purple-personalized top-0 sticky left-0 w-full z-50 purple-personalized gap-4 px-4 justify-between"
>
  <div class="sm:navbar-start items-center gap-2">
    <a
      class="link text-white flex items-center link-neutral hover:text-purple-300 text-xl font-bold no-underline"
      routerLink="home"
      aria-label="Ir a Tiendazo"
    >
      <img
        src="assets/images/Icon/iconTiendazo.png"
        class="max-w-full h-auto max-h-10"
        alt="Icono Tiendazo"
      />
      <span class="text-center ml-1 hidden sm:block">Tiendazo</span>

      <!-- Añadí un margen a la derecha para separar el texto de la imagen -->
    </a>

    @if(!isMobile){
    <div class="dropdown relative inline-flex [--trigger:hover]">
      <button
        id="dropdown-hover"
        type="button"
        class="dropdown-toggle font-bold text-neutral-50 px-6 py-3 text-base hover:bg-[Zb996d1] rounded-md"
        aria-haspopup="menu"
        aria-expanded="false"
        aria-label="Dropdown"
      >
        Todas las categorías
        <span
          class="icon-[tabler--chevron-down] dropdown-open:rotate-180 size-4 ml-2"
        ></span>
      </button>

      <!-- Menú principal -->
      <ul
        class="dropdown-menu dropdown-open:opacity-100 purpleLight-personalized hidden min-w-60 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="dropdown-hover"
      >
        <!-- Tecnología con submenú -->
        <li class="relative group">
          <button
            (click)="$event.stopPropagation()"
            class="dropdown-item flex justify-between items-center ext-amber-50 text-amber-50 font-bold purpleHover-personalized"
          >
            🖥️ Tecnología
            <span class="icon-[tabler--chevron-right] size-4 ml-auto"></span>
          </button>

          <!-- Submenú -->
          <ul
            class="absolute purpleDark-personalized left-full top-0 hidden group-hover:block text-black shadow-md rounded-md w-48 z-50 p-2"
          >
            <li>
              <a
                (click)="goToCategorie('laptops')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >💻<span class="mx-1"></span>Laptops</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('smartphones')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >📱<span class="mx-1"></span>Móviles</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('tablets')"
                class="flex items-center px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
              >
                <svg
                  fill="#000000"
                  class="w-4 h-4"
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 955.4 955.4"
                  xml:space="preserve"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <g>
                      <path
                        d="M165.351,0c-32.6,0-59,26.4-59,59v836.4c0,33.1,26.9,60,60,60H789.05c33.102,0,60-26.9,60-60V59c0-32.6-26.398-59-59-59 H165.351z M477.75,896.1c-23.4,0-42.3-18.9-42.3-42.299c0-23.4,18.899-42.301,42.3-42.301c23.401,0,42.299,18.9,42.299,42.301 C520.05,877.199,501.151,896.1,477.75,896.1z M773.151,725.4c0,16.6-13.4,30-30,30H212.351c-16.6,0-30-13.4-30-30V104.9 c0-16.6,13.4-30,30-30H743.05c16.602,0,30,13.4,30,30v620.5H773.151z"
                      ></path>
                    </g>
                  </g>
                </svg>
                <span class="mx-1"></span>Tablets
              </a>
            </li>
            <li>
              <a
                (click)="goToCategorie('mobile-accessories')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🎧<span class="mx-1"></span>Accesorios</a
              >
            </li>
          </ul>
        </li>

        <!-- Hogar con submenú -->
        <li class="relative group">
          <button
            (click)="$event.stopPropagation()"
            class="dropdown-item flex justify-between items-center text-amber-50 font-bold purpleHover-personalized"
          >
            🏠 Hogar
            <span class="icon-[tabler--chevron-right] size-4 ml-auto"></span>
          </button>
          <ul
            class="absolute left-full top-0 hidden group-hover:block purpleDark-personalized text-black shadow-md rounded-md w-64 z-50 p-2"
          >
            <li>
              <a
                (click)="goToCategorie('furniture')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🛋️<span class="mx-1"></span>Muebles
              </a>
            </li>
            <li>
              <a
                (click)="goToCategorie('home-decoration')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🖼️<span class="mx-1"></span>Decoración
              </a>
            </li>
            <li>
              <a
                (click)="goToCategorie('kitchen-accessories')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🍽️<span class="mx-1"></span>Accesorios de cocina
              </a>
            </li>
          </ul>
        </li>

        <!-- Moda con submenú -->
        <li class="relative group">
          <button
            (click)="$event.stopPropagation()"
            class="dropdown-item flex justify-between items-center text-amber-50 font-bold purpleHover-personalized"
          >
            ⭐ Moda
            <span class="icon-[tabler--chevron-right] size-4 ml-auto"></span>
          </button>
          <ul
            class="absolute purpleDark-personalized left-full top-0 hidden group-hover:block text-black shadow-md rounded-md w-64 z-50 p-2"
          >
            <li>
              <a
                (click)="goToCategorie('mens-shirts')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >👕<span class="mx-1"></span>Camisas de hombre</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('mens-shoes')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >👞<span class="mx-1"></span>Zapatos de hombre</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('mens-watches')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >⌚<span class="mx-1"></span>Relojes de hombre</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('womens-dresses')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >👗<span class="mx-1"></span>Vestidos de mujer</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('womens-bags')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >👜<span class="mx-1"></span>Bolsos de mujer</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('womens-shoes')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >👠<span class="mx-1"></span>Zapatos de mujer</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('womens-watches')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >⌚<span class="mx-1"></span>Relojes de mujer</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('womens-jewellery')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >💍<span class="mx-1"></span>Joyería de mujer</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('tops')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >👚<span class="mx-1"></span>Tops</a
              >
            </li>
          </ul>
        </li>

        <!-- Otros con submenú -->
        <li class="relative group">
          <button
            (click)="$event.stopPropagation()"
            class="dropdown-item flex justify-between items-center purpleHover-personalized text-amber-50 font-bold"
          >
            🔗 Otros
            <span class="icon-[tabler--chevron-right] size-4 ml-auto"></span>
          </button>
          <ul
            class="absolute left-full top-0 hidden group-hover:block purpleDark-personalized text-black shadow-md rounded-md w-64 z-50 p-2"
          >
            <li>
              <a
                (click)="goToCategorie('beauty')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >💄<span class="mx-1"></span>Belleza</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('skin-care')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🧴<span class="mx-1"></span>Cuidado de la piel</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('fragrances')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🌸<span class="mx-1"></span>Fragancias</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('sunglasses')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🕶️<span class="mx-1"></span>Gafas de sol</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('groceries')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🥫<span class="mx-1"></span>Alimentos</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('vehicle')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🚗<span class="mx-1"></span>Vehículos</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('motorcycle')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🏍️<span class="mx-1"></span>Motocicletas</a
              >
            </li>
            <li>
              <a
                (click)="goToCategorie('sports-accessories')"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🏋️<span class="mx-1"></span>Accesorios deportivos</a
              >
            </li>
          </ul>
        </li>

        <!-- Contacto con submenú -->
        <li class="relative group">
          <button
            (click)="$event.stopPropagation()"
            class="dropdown-item flex justify-between items-center text-amber-50 font-bold purpleHover-personalized"
          >
            📞 Contacto
            <span class="icon-[tabler--chevron-right] size-4 ml-auto"></span>
          </button>
          <ul
            class="absolute purpleDark-personalized left-full top-0 hidden group-hover:block text-black shadow-md rounded-md w-64 z-50 p-2"
          >
            <li>
              <a
                href="#"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >ℹ️<span class="mx-1"></span>Quiénes somos</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🛠️<span class="mx-1"></span>Soporte</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >🔒<span class="mx-1"></span>Política de privacidad</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 text-amber-50 purpleHover-personalized rounded cursor-pointer"
                >📜<span class="mx-1"></span>Términos y condiciones</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    }
  </div>
  <div class="sm:navbar-end flex items-center gap-4">
    <div class="grid grid-cols-1 gap-4 sm:w-110 w-full relative">
      <div
        class="input rounded-full focus:outline-none focus-within:ring-2 focus-within:ring-purple-400 focus-within:border-purple-700"
      >
        <span
          class="icon-[tabler--search] text-base-content/80 my-auto me-3 size-5"
        ></span>
        <label class="sr-only" for="searchInput">Full Name</label>
        <input
          #searchInput
          type="search"
          class="grow focus:outline-none"
          placeholder="Search"
          id="searchInput"
          (focus)="onFocus(searchInput.value)"
          (blur)="onBlur()"
        />
      </div>
      <div class="card bg-transparent top-10 absolute z-2 w-full">
        @if(showResults){
        <buscador-nav [products]="products" [nameQuery]="searchInput.value" />
        }
      </div>
    </div>

    <!--User logged-->
    <div
      mat-icon-button
      matBadge="{{ totalProducts() }}"
      matBadgeColor="accent"
      matBadgeOverlap="false"
      aria-label="Carrito de compras"
      class="mr-2 text-neutral-100"
    >
      <modal-cart>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="h-7 w-7 sm:h-full sm:w-full hover:text-purple-300"
          fill="currentColor"
          style="display: block; margin: auto"
        >
          <path
            d="M2 2v2h3.2l2.8 12.2c.1.5.5.8 1 .8h10c.5 0 .9-.3 1-.8l2-8c.1-.3 0-.6-.2-.9-.2-.2-.5-.3-.8-.3h-.4l1.3-2.6c.2-.5.1-1-.3-1.3l-3-2c-.3-.1-.6-.1-.9-.1-.3.1-.5.3-.6.5l-2.1 4.3v-1.8c0-.6-.4-1-1-1h-4c-.6 0-1 .4-1 1v3h-1.1l-.9-4.2c-.1-.5-.5-.8-1-.8h-4zm11 3v2h-2v-2h2zm5.4 2h-1.8l1.8-3.5 1.3.9-1.3 2.6zm-10 2h11.3l-1.5 6h-8.4l-1.4-6z"
          ></path>
          <circle cx="18" cy="20" r="2"></circle>
          <circle cx="10" cy="20" r="2"></circle>
        </svg>
      </modal-cart>
    </div>
    @if(authService.isLoggedIn()){
    <!-- Botón con badge y carrito -->

    <div
      class="dropdown relative inline-flex [--auto-close:inside] [--offset:8] [--placement:bottom-end]"
    >
      <button
        id="dropdown-scrollable"
        type="button"
        class="dropdown-toggle flex items-center"
        aria-haspopup="menu"
        aria-expanded="false"
        aria-label="Dropdown"
      >
        <div class="avatar cursor-pointer">
          <div class="size-9.5 h-8 w-8 sm:w-10 sm:h-10 rounded-full bg-neutral-50">
            <img src="{{ this.userService.user().image }}" alt="avatar 1" />
          </div>
        </div>
      </button>
      <ul
        class="dropdown-menu dropdown-open:opacity-100 purpleDark-personalized hidden min-w-60"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="dropdown-avatar"
      >
        <li class="dropdown-header gap-2">
          <div class="avatar">
            <div class="w-10 rounded-full bg-neutral-50">
              <img src="{{ this.userService.user().image }}" alt="avatar" />
            </div>
          </div>
          <div>
            <h6 class="text-base font-semibold text-neutral-100">
              {{ this.userService.user().username }}
            </h6>
            <small class="text-neutral-100">Cliente</small>
          </div>
        </li>
        <li>
          <a
            (click)="closeDrawer()"
            class="dropdown-item text-neutral-100 purpleHover-personalized"
            routerLink="/perfil"
          >
            <span class="icon-[tabler--user]"></span>
            Perfil
          </a>
        </li>
        <li>
          <a
            class="dropdown-item text-neutral-100 purpleHover-personalized"
            routerLink="/ajustes"
            (click)="closeDrawer()"
          >
            <span class="icon-[tabler--settings]"></span>
            Ajustes
          </a>
        </li>
        <li class="dropdown-footer gap-2 text-neutral-100">
          <a
            (click)="this.authService.logout()"
            class="btn bg-red-400 hover:bg-red-500 w-full shadow-none"
            href="#"
          >
            <span class="icon-[tabler--logout]"></span>
            Sign out
          </a>
        </li>
      </ul>
    </div>
    }@else {
    <a
      routerLink="/auth/login"
      class="flex items-center gap-2 py-2 rounded-md text-sm text-purple-100 hover:text-purple-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-11 w-11"
        viewBox="0 0 24 24"
      >
        <g fill="none" fill-rule="evenodd">
          <path
            d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"
          />
          <path
            fill="currentColor"
            d="M12 2c5.523 0 10 4.477 10 10a9.96 9.96 0 0 1-2.258 6.33l.02.022l-.132.112A9.98 9.98 0 0 1 12 22c-2.95 0-5.6-1.277-7.43-3.307l-.2-.23l-.132-.11l.02-.024A9.96 9.96 0 0 1 2 12C2 6.477 6.477 2 12 2m0 15c-1.86 0-3.541.592-4.793 1.406A7.97 7.97 0 0 0 12 20a7.97 7.97 0 0 0 4.793-1.594A8.9 8.9 0 0 0 12 17m0-13a8 8 0 0 0-6.258 12.984C7.363 15.821 9.575 15 12 15s4.637.821 6.258 1.984A8 8 0 0 0 12 4m0 2a4 4 0 1 1 0 8a4 4 0 0 1 0-8m0 2a2 2 0 1 0 0 4a2 2 0 0 0 0-4"
          />
        </g>
      </svg>
    </a>

    }
  </div>
</nav>
