<mat-stepper #stepper class="min-h-[89vh] max-w-450 mx-auto">
  <!--Step 1-->
  <mat-step>
    <ng-template matStepLabel>Productos</ng-template>
    <div class="flex gap-2 max-w-500 mx-auto">
      <!-- All products in the cart -->
      <products-cart class="flex-[3]" />
      <div class="flex-[2] h-55 max-w-sm mx-auto bg-white rounded-lg shadow-md p-6 border-gray-400 border-1"
      >
        <h2 class="text-2xl font-bold mb-4 text-center">Resumen</h2>

        <div class="mb-4">
          <div class="flex justify-between items-center mb-1">
            <span class="text-gray-700">Subtotal artículos</span>
            <span class="font-medium">402,99€</span>
          </div>
          <div class="border-b border-dashed border-gray-300 mb-1"></div>
          <!-- línea separadora -->
        </div>

        <div class="flex justify-between items-center text-lg font-semibold">
          <span>Total (IVA incluido)</span>
          <span>402,99€</span>
        </div>
        <button mat-button matStepperNext class="w-full mt-3">
          Realizar Pedido
        </button>
      </div>
    </div>
  </mat-step>

  <!--Step 2-->
  <mat-step [stepControl]="addressFormBuilder">
    <ng-template matStepLabel>Dirección de envío</ng-template>

    <shipping-address [addressFormBuilder]="addressFormBuilder" />

    <div class="w-full flex gap-2 mx-auto max-w-200">
      <button class="w-1/2 text-center" mat-button matStepperPrevious>
        Back
      </button>
      <button class="w-1/2 text-center" mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <!--Step 3-->
  <mat-step>
    <ng-template matStepLabel>Método de pago</ng-template>

    <h2 class="text-lg font-semibold text-center text-pink-700 mb-4">
      Vista previa de tarjeta de pago simulada 
    </h2>
    <ngx-payment-card
      [name]="cardForm.get('cardHolderName')?.value || undefined"
      [IBAN]="cardForm.get('IBAN')?.value || undefined"
      [securityCode]="cardForm.get('cardCvv')?.value || undefined"
      [cardNumber]="cardForm.get('cardNumber')?.value || undefined"
      [nameText]="cardForm.get('cardNumber')?.value || ''"
    ></ngx-payment-card>

    <div class="mx-auto max-w-xl">
      <form [formGroup]="cardForm" class="grid gap-4 my-5">
        <div>
          <label for="pais" class="block text-sm font-medium">Nombre*</label>
          <input
            placeholder="Nombre"
            formControlName="cardHolderName"
            class="p-2 border rounded placeholder-gray-300 w-full"
          />
        </div>

        <div>
          <label for="pais" class="block text-sm font-medium"
            >Número de tarjeta*</label
          >
          <input
            placeholder="Número de tarjeta"
            formControlName="cardNumber"
            class="p-2 border rounded placeholder-gray-300 w-full"
          />
        </div>
        <div>
          <label for="pais" class="block text-sm font-medium">IBAN*</label>
          <input
            placeholder="IBAN"
            formControlName="IBAN"
            class="p-2 border rounded placeholder-gray-300 w-full"
          />
        </div>
        <div>
          <label for="pais" class="block text-sm font-medium">CVV*</label>
          <input
            placeholder="CVV"
            formControlName="cardCvv"
            class="p-2 border rounded placeholder-gray-300 w-full"
          />
        </div>
      </form>
      <div class="w-full flex gap-2">
        <button class="w-1/2 text-center" mat-button matStepperPrevious>
          Back
        </button>
        <button class="w-1/2 text-center" mat-button matStepperNext>
          Next
        </button>
      </div>
    </div>
  </mat-step>

  <!--Step 4-->
  <mat-step>
    <ng-template matStepLabel>Resumen</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
