<footer class="footer p-5 purple-personalized">
  <div class="flex w-full items-center justify-between">
    <aside class="grid-flow-col items-center">
      <p class="text-zinc-200">
        ©2025
        <a class="link link-hover font-bold text-zinc-200" href="#">Tiendazo</a>
      </p>
    </aside>
    <div class="flex gap-4 h-5">
      <a
        href="https://github.com/JosemaB"
        class="link text-zinc-300"
        aria-label="Github Link"
      >
        <span class="icon-[tabler--brand-github] size-6"></span>
      </a>
      <a
        href="https://es.linkedin.com/in/jose-manuel-illana-benavides-8177a8267"
        class="link text-zinc-200"
        aria-label="LinkedIn Link"
      >
        <span class="icon-[tabler--brand-linkedin] size-6"></span>
      </a>
    </div>
  </div>
</footer>
