<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-6 my-6">
  <!-- Sección: Fragancias y Belleza arreglar hover y nav -->
  <a class="cursor-pointer hover:bg-gray-300">
    <div class="flex flex-col justify-center items-center">
      <div
        class="w-50 h-50 text-white rounded-full font-bold flex justify-center items-center"
      >
        <img
          class="rounded-full w-full h-full"
          src="assets/images/Categorias/fragancias.jpg"
        />
      </div>
      <p class="mt-2 text-center text-lg font-semibold">Fragancias</p>
    </div>
  </a>

  <a class="cursor-pointer hover:bg-gray-300">
    <div class="flex flex-col justify-center items-center">
      <div
        class="w-50 h-50 border-gray-200 border-1 text-white text-4xl font-bold rounded-full flex justify-center items-center"
      >
        <img
          class="rounded-full w-full h-full"
          src="assets/images/Categorias/belleza.jpg"
        />
      </div>
      <p class="mt-2 text-center text-lg font-semibold">Belleza</p>
    </div>
  </a>

  <!-- Sección: Ropa y Moda -->
  <a class="cursor-pointer hover:bg-gray-300">
    <div class="flex flex-col justify-center items-center">
      <div
        class="w-50 h-50 text-white text-4xl font-bold rounded-full flex justify-center items-center"
      >
        <img
          class="rounded-full w-full h-full"
          src="assets/images/Categorias/ropaHombre.avif"
        />
      </div>
      <p class="mt-2 text-center text-lg font-semibold">Moda Hombre</p>
    </div>
  </a>

  <a class="cursor-pointer hover:bg-gray-300">
    <div class="flex flex-col justify-center items-center">
      <div
        class="w-50 h-50 border-gray-200 border-1 text-white text-4xl font-bold rounded-full flex justify-center items-center"
      >
        <img
          class="rounded-full w-full h-full"
          src="assets/images/Categorias/ropaMujer.webp"
        />
      </div>
      <p class="mt-2 text-center text-lg font-semibold">Moda Mujer</p>
    </div>
  </a>

  <!-- Sección: Accesorios (Gafas, Calzado) -->
  <a class="cursor-pointer hover:bg-gray-300">
    <div class="flex flex-col justify-center items-center">
      <div
        class="w-50 h-50 text-white border-gray-200 border-1 text-4xl font-bold rounded-full flex justify-center items-center"
      >
        <img
          class="rounded-full w-full h-full"
          src="assets/images/Categorias/Gafas.jpg"
        />
      </div>
      <p class="mt-2 text-center text-lg font-semibold">Gafas</p>
    </div>
  </a>

  <a class="cursor-pointer hover:bg-gray-300">
    <div class="flex flex-col justify-center items-center">
      <div
        class="w-50 h-50 text-white border-gray-200 border-1 text-4xl font-bold rounded-full flex justify-center items-center"
      >
        <img
          class="rounded-full w-full h-full"
          src="assets/images/Categorias/calzado.avif"
        />
      </div>
      <p class="mt-2 text-center text-lg font-semibold">Calzado</p>
    </div>
  </a>

  <!-- Sección: Tecnología -->
  <a class="cursor-pointer hover:bg-gray-300">
    <div class="flex flex-col justify-center items-center">
      <div
        class="w-50 h-50 border-gray-200 border-1 text-white text-4xl font-bold rounded-full flex justify-center items-center"
      >
        <img
          class="rounded-full w-full h-full"
          src="assets/images/Categorias/Tecnologia.png"
        />
      </div>
      <p class="mt-2 text-center text-lg font-semibold">Tecnología</p>
    </div>
  </a>

  <!-- Sección: Hogar y Cocina -->
  <a class="cursor-pointer hover:bg-gray-300">
    <div class="flex flex-col justify-center items-center hover:bg-gray-300">
      <div
        class="w-50 h-50 border-gray-200 border-1 text-white text-4xl font-bold rounded-full flex justify-center items-center"
      >
        <img
          class="rounded-full w-full h-full"
          src="assets/images/Categorias/Hogar.jpg"
        />
      </div>
      <p class="mt-2 text-center text-lg font-semibold">Hogar</p>
    </div>
  </a>
  <a class="cursor-pointer hover:bg-gray-300">
    <div class="flex flex-col justify-center items-center hover:bg-gray-300">
      <div
        class="w-50 h-50 border-gray-200 border-1 text-white text-4xl font-bold rounded-full flex justify-center items-center"
      >
        <img
          class="rounded-full w-full h-full"
          src="assets/images/Categorias/Cocina.jpg"
        />
      </div>
      <p class="mt-2 text-center text-lg font-semibold">Accesorios de Cocina</p>
    </div>
  </a>

  <!-- Sección: Deporte -->
  <a class="cursor-pointer hover:bg-gray-300">
    <div class="flex flex-col justify-center items-center hover:bg-gray-300">
      <div
        class="w-50 h-50 border-gray-200 border-1 text-white text-4xl font-bold rounded-full flex justify-center items-center"
      >
        <img
          class="rounded-full w-full h-full"
          src="assets/images/Categorias/Deporte.png"
        />
      </div>
      <p class="mt-2 text-center text-lg font-semibold">
        Accesorios de Deporte
      </p>
    </div>
  </a>
  <!-- Sección: Vehículos -->
  <a class="cursor-pointer hover:bg-gray-300">
    <div class="flex flex-col justify-center items-center hover:bg-gray-300">
      <div
        class="w-50 h-50 text-white text-4xl font-bold border-gray-200 border-1 rounded-full flex justify-center items-center"
      >
        <img
          class="rounded-full w-full h-full"
          src="assets/images/Categorias/Coches.avif"
        />
      </div>
      <p class="mt-2 text-center text-lg font-semibold">Coches</p>
    </div>
  </a>

  <a class="cursor-pointer hover:bg-gray-300">
    <div class="flex flex-col justify-center items-center hover:bg-gray-300">
      <div
        class="w-50 h-50 text-white text-4xl font-bold rounded-full flex justify-center items-center"
      >
        <img
          class="rounded-full w-full h-full border-gray-200 border-1"
          src="assets/images/Categorias/Motos.png"
        />
      </div>
      <p class="mt-2 text-center text-lg font-semibold">Motos</p>
    </div>
  </a>
</div>
