<div
  class="max-w-7xl mx-auto bg-white rounded-xl shadow-md overflow-hidden border border-gray-200"
>
  <div class="p-6">
    <div
      class="flex flex-col sm:flex-row justify-center items-center text-center mb-3"
    >
      <h1 class="text-xl sm:text-2xl font-bold text-purple-600">
        Seguridad y Privacidad en
      </h1>
      <a
        routerLink="['/home']"
        aria-label="Ir a Tiendazo"
        class="cursor-pointer text-pink-500 py-2 text-xl sm:text-2xl flex items-center font-bold no-underline hover:text-purple-500 transition duration-300"
      >
        <span class="mx-1">Tiendazo</span>
        <img
          src="assets/images/Icon/iconTiendazo.png"
          alt="Icono Tiendazo"
          class="h-8 sm:h-9"
        />
      </a>
    </div>
    <!-- Párrafo introductorio -->
    <p
      class="text-gray-800 text-base sm:textarea-md leading-relaxed mb-6 text-justify sm:text-left"
    >
      En <span class="font-semibold">Tiendazo</span>, tu seguridad es nuestro
      compromiso más importante. Empleamos tecnología de cifrado de última
      generación para proteger tus datos personales y garantizamos que cada
      transacción se realice con total confianza.
    </p>

    <!-- Lista de puntos de seguridad -->
    <ul
      class="list-disc list-inside space-y-4 text-gray-800 text-base sm:text-md leading-relaxed"
    >
      <li>
        <span class="font-semibold">Protección de datos:</span> Toda tu
        información se almacena de forma segura y nunca se comparte sin tu
        autorización explícita.
      </li>
      <li>
        <span class="font-semibold">Pagos 100% seguros:</span> Contamos con
        pasarelas de pago certificadas con SSL para que cada compra sea
        totalmente segura.
      </li>
      <li>
        <span class="font-semibold">Autenticación robusta:</span> Te
        recomendamos usar contraseñas fuertes y ofrecemos varias opciones para
        reforzar la protección de tu cuenta.
      </li>
      <li>
        <span class="font-semibold">Prevención de fraudes:</span> Supervisamos
        constantemente cualquier actividad inusual para garantizar que tu cuenta
        esté siempre protegida.
      </li>
    </ul>
  </div>
</div>
