@if (products.products && products.products.length > 0) {
<div
  id="multi-slide"
  data-carousel='{ "loadingClasses": "opacity-0", "slidesQty": { "xs": 1, "md": 2, "xl": 3 } }'
  class="relative w-full"
>
  <div class="carousel h-100">
    <div class="carousel-body h-full opacity-0">
      <!-- Slide 1 -->
      @for(product of products.products; track product.id){

      <div class="carousel-slide">
        <div class="flex h-full justify-center align-center">
          <product-card
            [urlProduct]="product.id"
            [title]="product.title"
            [img]="product.images"
            [alt_img]="product.title"
            [rating]="product.rating"
            [price]="product.price"
          />
        </div>
      </div>
      }
    </div>
  </div>

  <!-- Previous Slide -->
  <button type="button" class="carousel-prev">
    <span
      class="size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow-base-300/20 shadow-sm"
    >
      <span
        class="icon-[tabler--chevron-left] size-5 cursor-pointer rtl:rotate-180"
      ></span>
    </span>
    <span class="sr-only">Previous</span>
  </button>
  <!-- Next Slide -->
  <button type="button" class="carousel-next">
    <span class="sr-only">Next</span>
    <span
      class="size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow-base-300/20 shadow-sm"
    >
      <span
        class="icon-[tabler--chevron-right] size-5 cursor-pointer rtl:rotate-180"
      ></span>
    </span>
  </button>
</div>
 }
