<div class="container mx-auto">
  <app-section-title>
    ¡Consigue las ofertas más TOP del momento!
  </app-section-title>

  <categorias-home />

  <h2
    class="font-bold sm:text-2xl text-center mt-2 mb-5 bg-purple-500 text-white rounded-2xl px-4 py-2"
  >
    Descubre los productos más vendidos
  </h2>

  <div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 justify-items-center gap-x-4"
  >
    @for(product of products.products; track product.id){
    <product-card
      [urlProduct]="product.id"
      [title]="product.title"
      [img]="product.images"
      [alt_img]="product.title"
      [rating]="product.rating"
      [price]="product.price"
    />
    }
  </div>

  <div id="laptops">
    <h2
      class="font-bold sm:text-2xl text-center my-3 bg-rose-400 text-white rounded-2xl px-4 py-2"
    >
      ¡Tu Nuevo Portátil Está Esperando!
    </h2>
    <carousel-products [products]="productsLaptops" />
  </div>

  <h2
    class="font-bold sm:text-2xl text-center mt-2 mb-5 bg-purple-500 text-white rounded-2xl px-4 py-2"
  >
    Productos ideales para tu hogar
  </h2>

  <div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 justify-items-center gap-x-4"
  >
    @for(product of productsPage2.products; track product.id){
    <product-card
      [urlProduct]="product.id"
      [title]="product.title"
      [img]="product.images"
      [alt_img]="product.title"
      [rating]="product.rating"
      [price]="product.price"
    />
    }
  </div>

  <div id="fragances">
    <h2
      class="font-bold sm:text-2xl text-center my-5 bg-rose-400 text-white rounded-2xl px-4 py-2"
    >
      Productos para tu vida deportiva
    </h2>
    <carousel-products [products]="productsSport" />
  </div>
</div>
