<div class="container mx-auto">
  <img
    routerLink="/categorie/tiendazo"
    class="w-full sm:h-[550px] rounded-2xl hover:brightness-75 object-cover xl:object-none mt-4 cursor-pointer"
    title="Explora nuestros productos"
    src="assets/portada/portada.png"
  />
  <div class="mx-2">
    <app-section-title>
      ¡Consigue las ofertas más TOP del momento!
    </app-section-title>
  </div>

  <categorias-home />

  <h2
    class="font-bold sm:text-2xl text-xl text-center mt-2 mb-5 purple-personalized text-white rounded-2xl px-4 py-2 mx-2"
  >
    Descubre los productos más vendidos
  </h2>

  <div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 justify-items-center gap-x-4"
  >
    @for(product of products.products; track product.id){
    <product-card
      [urlProduct]="product.id"
      [title]="product.title"
      [img]="product.images"
      [alt_img]="product.title"
      [rating]="product.rating"
      [price]="product.price"
    />
    }
  </div>

  <div id="laptops">
    <h2
      class="font-bold sm:text-2xl text-xl text-center my-3 bg-pink-700 text-white rounded-2xl px-4 py-2 mx-2"
    >
      ¡Tu Nuevo Portátil Está Esperando!
    </h2>
    <carousel-products [products]="productsLaptops.products!" />
  </div>

  <h2
    class="font-bold sm:text-2xl text-xl text-center mt-2 mb-5 purple-personalized text-white rounded-2xl px-4 py-2 mx-2"
  >
    Productos ideales para tu hogar
  </h2>

  <div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 justify-items-center gap-x-4"
  >
    @for(product of productsPage2.products; track product.id){
    <product-card
      [urlProduct]="product.id"
      [title]="product.title"
      [img]="product.images"
      [alt_img]="product.title"
      [rating]="product.rating"
      [price]="product.price"
    />
    }
  </div>

  <div id="fragances">
    <h2
      class="font-bold sm:text-2xl text-xl text-center my-5 bg-pink-700 text-white rounded-2xl px-4 py-2 mx-2"
    >
      Productos para tu vida deportiva
    </h2>
    <carousel-products [products]="productsSport.products!" />
  </div>
</div>
