@import "tailwindcss";
@plugin "flyonui" {
  themes: light --default;
}
@plugin "@iconify/tailwind4";
@import "flyonui/variants.css";
@source "../node_modules/flyonui/flyonui.js";

.text-shadow {
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
/* Colors Profesionals */


/* Más oscuro */
/*--purple-base: #7b4397;*/

/*--purple-dark: #5a2f6f;*/

/* Un poco más claro */
/*--purple-light: #9c6fb9;*/

/* Claro para hover */
/*--purple-lighter: #b996d1;*/

.purple-personalized {
  background-color: #7b4397;
}

.purpleLight-personalized {
  background-color: #9c6fb9;
}

.purpleDark-personalized {
  background-color: #7f529d;
}

.purpleHover-personalized:hover {
  background-color: #b996d1;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.demo-section + .demo-section {
  margin-top: 16px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
