@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default
}
@plugin "flyonui" {
  themes: light --default;
}
@plugin "@iconify/tailwind4";
@import "flyonui/variants.css";
@source "../node_modules/flyonui/flyonui.js";

.text-shadow {
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

div.snap-before{
  display: none;
}
