@for ( product of this.productsService.productsCart();; track product.id) {
<div
  class="flex items-start gap-4 p-2 border-b border-dashed bg-amber-50 rounded mb-1"
>
  <!-- Imagen -->
  <div class="w-22 h-20 flex-shrink-0">
    <img
      src="{{ product.image }}"
      alt="{{ product.name }}"
      class="w-full h-full rounded"
    />
  </div>

  <!-- Detalles -->
  <div class="flex flex-col flex-grow">
    <div class="flex items-start justify-between">
      <!-- Título -->
      <a (click)="goToProduct(product.id!)">
        <div
          class="text-sm cursor-pointer font-medium truncate w-full max-w-[180px] text-black hover:text-pink-700"
          title="{{ product.name }}"
        >
          {{ product.name }}
        </div>
      </a>

      <!-- Icono eliminar -->
      <div class="relative group">
        <button
          (click)="this.productsService.removeCartItem(product.id!)"
          type="button"
          class="text-gray-700 hover:bg-gray-200 rounded h-5 w-5 cursor-pointer"
          aria-label="Tooltip"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-full h-full"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 7h16m-10 4v6m4-6v6M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-12M9 7V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3"
            />
          </svg>
        </button>

        <span
          class="absolute left-1/2 top-full mt-2 -translate-x-1/2 opacity-0 invisible transition-opacity duration-200 group-hover:opacity-100 group-hover:visible"
          role="tooltip"
        >
          <span
            class="tooltip-body bg-gray-800 text-white textarea-xs p-2 rounded shadow whitespace-nowrap overflow-visible"
          >
            Eliminar articulo
          </span>
        </span>
      </div>
    </div>

    <!-- Precio -->
    <div class="mt-1 font-bold text-base text-pink-700">
      ${{ product.price }}
    </div>

    <!-- Unidades -->
    <div class="text-sm text-gray-600">
      Unidades:
      <span class="font-semibold text-purple-950">{{ product.quantity }}</span>
    </div>
  </div>
</div>
}
